body {
    background-image:url('../img/background.jpg');
 background-size: 900px 780px;background-repeat:repeat;
}
.navbar {
    background-image:url('../img/background.jpg');
    background-repeat:repeat;
}
.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.green {
    color: #5cb85c;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
